.swiperGallery {
    width: 100%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .slide-galeria {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
  }
  
  .swiperGallery {
    height: 100%;
    width: 100%;
  }
  
  .swiperGallery {
   
    box-sizing: border-box;
   
  }

  .swiperGallery .slide-galeria{
    height: 300px; /* Ajusta la altura de las diapositivas según lo necesites */
    width: calc(100% / 3); /* Divide el ancho entre el número de diapositivas visibles */
    margin: 0; 
  }
  
  .swiperGallery .slide-galeria {
   height: 300px;
   width: 500%;
    
  }
  

  
  .swiperGallery img {
   
    display: block;
    padding: 0px;
    margin: 0px;
    transition: all 0.8s;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  .swiperGallery img:hover{
    transform: scale(1.5);
  }
  .fullscreen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999099999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .fullscreen-overlay img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
    border-radius: 10px;
    cursor: pointer;
  }