<footer>

<div class="row">
    <div class="col-md-4">
        <div class="container-img-izqui">
            <img src="pack.png" alt="">
        </div>
    </div>
    <div class="col-md-4">
        <div class="container">
            <h2 class="text-center">Contact </h2>

            <div class="container-form">
                <input type="text" class="form-control" placeholder="Mail">
                <input type="text" class="form-control" placeholder="Phone">
                <textarea name="" class="form-control" placeholder="Message" id=""></textarea>
                <div class="container-boton text-center">
                    <button class="btn btn-outline-primary text-center">Send</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="container-img-derec">
            <img src="pack.png" alt="">
        </div>
    </div>
</div>


</footer>

<style>
    textarea{
        resize: none;
    }
    textarea,input{
        margin-top: 10px;
        outline: 2px solid  pink;
    }
    button{
        color: black;
        border-color: pink;
        margin-top: 10px;
        outline-color: pink;
    }
    button:hover{
        border-color: pink;
        background-color: pink;
    }
.container-form{
    outline: 4px solid black;
    border: 4px solid pink;
    height: 100%;
    padding: 20px;
    border-radius: 15px;
}

footer{
    overflow: hidden;
}
</style>