---
import SwiperGallery from "./SwiperGallery"

---

<section>
    <SwiperGallery client:load/>
</section>


<style>
    section{
        background: linear-gradient(180deg, rgba(214,214,214,1) 70%, rgba(200,200,200,1) 30%);
    }
</style>
