---
import GallerySinNavegator from "./GallerySinNavegator"
---

<section>
    <div class="contenedor-galeria">
        <GallerySinNavegator client:load/>
    </div>


</section>

<style>
    .contenedor-galeria{
     
       
        width: 100%;
      
        padding-inline: 10px;
        display: flex;
      
        border-radius: 25px;
        align-items: center;
        margin: 0 auto;
    }
    section{
        background-color: #E992B4;
        height: 45dvh   ;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>