<section>

    <div class="row">
        <div class="col-md-6 contenedor-texto">
            <h2 class="text-center">Lorem ipsu</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae, dolorem.</p>
        </div>

        <div class="col-md-6">
            <div class="container container-logo">
    
                <img src="/packageLogo.png" alt="">
             </div>
        </div>


    </div>
   

</section>

<style>
.contenedor-texto{
    margin-top: 10%;
}
p{
    text-align: center;
    text-wrap: balance;
    font-size: 19px;
}
.container-logo{
  
    display: flex;
    align-items: flex-end;
    justify-content: end;
}
img{
   
    margin-top: 10%;
    height: 500px;
    
}
section{

        overflow-x: hidden;
        background-image: url("/fondo.png");
        height: 90dvh;
        background-repeat: no-repeat;
    }
</style>