<section>
    <div class="container">
        <div class="contenedor-tex">
            <h2>Titulo Titulo</h2>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates reiciendis harum adipisci deserunt ad odio labore cupiditate necessitatibus animi fugit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, quod.

            </p>
        </div>
    </div>
</section>


<style>
    .contenedor-tex{
        padding-top: 15%;
        margin-left: 20%;
    }
    h2{
        font-size: 2.5rem;
        color: pink;
        font-weight: bolder;
    }
    p{
        text-wrap: balance;
        width: 50%;
        font-weight: 555;
        font-size: 1.2rem;
    }
    section{
        background-image: url("/hola.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100dvh;
    }
</style>