<section>
    <div class="row container">
        <div class="col-md-6">
            <div class="contenedor-img">
                <img src="hojas.png" alt="">
            </div>
        </div>
        <div class="col-md-6">
            <div class="contenedor-texto">
                <h5>Titulo</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, fuga! Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, incidunt, distinctio officia voluptates ipsa recusandae ipsum rem voluptate dicta eaque accusamus, at quibusdam optio vitae blanditiis dignissimos amet commodi quod?</p>
    
            </div>
        </div>
    </div>


    
       

    
    
</section>
    
<style>
    .contenedor-img {
        position: absolute;

        margin-left: 35%;
    }
    .contenedor-texto{
        margin-left: 25%;
        margin-top: 25%;
    }
    p,h5{
        text-align: center;
        text-wrap: balance;
    }
    h5{
        font-size: 1.8rem;
        color: pink;
        font-weight: bolder;
    }
    p{
        font-weight: 555;
        font-size: 1.2rem;
    }
    section{
        background-image: url("/fondotest.png");
        height: 90dvh;
        background-repeat: no-repeat;
        background-size: contain;
    }
</style>